html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* GENERAL */
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  line-height: 21px;
  background-color: #ffdf00;
}

html, body {
  min-height: 100%;
  height: 100%;
}

a {
  color: #fff;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.1em;
}

nav {
  position: absolute;
  z-index: 5;
  height: auto;
  -webkit-transition: height 0.2s ease-out 0s;
  -moz-transition: height 0.2s ease-out 0s;
  -o-transition: height 0.2s ease-out 0s;
  transition: height 0.2s ease-out 0s;
}
nav .path {
  margin: 40px;
}
nav .path a {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  z-index: 16;
}
nav .fixed-nav {
  display: none;
}

h2 {
  font-size: 1.5rem;
  margin: auto;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.path {
  z-index: -1;
}

.path:hover {
  stroke-dasharray: 20;
  -webkit-animation: dash 7s linear;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.secondary-nav {
  display: none;
  position: fixed;
  width: 100px;
  float: left;
  line-height: 2rem;
  font-weight: 300;
  margin-left: 75px;
  padding-top: 125px;
  z-index: 20;
  text-align: left;
  transition: font-size 0.5s ease;
}
.secondary-nav a {
  text-decoration: none;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.secondary-nav a:hover {
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
}

/* SPECIFIC */
.container {
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  float: left;
  left: 0;
}

.intro-header {
  height: 100%;
  margin-left: 35%;
  margin-top: 13%;
}
.intro-header .path a {
  color: #000;
  letter-spacing: .25px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.table-of-contents {
  margin-top: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.table-of-contents > section {
  flex: 0 1 100%;
  display: flex;
  padding: 25px;
}

.content {
  display: none;
}

.parentselect.active .content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.parentselect.active .content li {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.75rem;
  display: block;
}
.parentselect.active .content a {
  text-decoration: none;
  color: #000;
}
.parentselect.active .content a:hover {
  color: #fff;
}
.parentselect.active h2 {
  display: none;
}
.parentselect.active .subject h2 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 25px;
}
.parentselect.active .subject {
  display: inline-block;
}
.parentselect.active .subject-on {
  display: block;
  width: 65%;
  float: left;
  padding-left: 35%;
}
.parentselect.active .subject-on h3 {
  padding-bottom: 25px;
}
.parentselect.active .info {
  display: none;
}
.parentselect.active .info-on {
  display: inline-block;
  width: 35%;
  margin-top: 45px;
  padding-right: 7%;
  padding-left: 3%;
  vertical-align: top;
}
.parentselect.active .info-on p {
  text-align: left;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.parentselect.active .info-on h4 {
  font-size: 1.25rem;
  text-align: left;
  margin-top: 18px;
  color: #fff;
}
.parentselect.active .info-on li {
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
}
.parentselect.active .info-on a {
  text-decoration: none;
  text-align: left;
  color: #fff;
}
.parentselect.active .info-on a:hover {
  color: #000;
}

.sporty {
  text-align: center;
  background-color: #f29e03;
}

.sporty.active {
  height: 100%;
  background: -webkit-linear-gradient(#f29e03, #27b059);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f29e03, #27b059);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f29e03, #27b059);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f29e03, #27b059);
  /* Standard syntax */
}

.outdoorsy {
  text-align: center;
  background-color: #27b059;
}

.outdoorsy.active {
  height: 100%;
  background: -webkit-linear-gradient(#27b059, #33b7e4);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#27b059, #33b7e4);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#27b059, #33b7e4);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#27b059, #33b7e4);
  /* Standard syntax */
}

.culinary {
  text-align: center;
  background-color: #33b7e4;
}

.culinary.active {
  height: 100%;
  background: -webkit-linear-gradient(#33b7e4, #de5e86);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#33b7e4, #de5e86);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#33b7e4, #de5e86);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33b7e4, #de5e86);
  /* Standard syntax */
}

.creative {
  text-align: center;
  background-color: #de5e86;
}

.creative.active {
  height: 100%;
  background: -webkit-linear-gradient(#de5e86, #8680d5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#de5e86, #8680d5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#de5e86, #8680d5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#de5e86, #8680d5);
  /* Standard syntax */
}

.social {
  text-align: center;
  background-color: #8680d5;
}

.social.active {
  height: 100%;
  background: -webkit-linear-gradient(#8680d5, #3dab9e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8680d5, #3dab9e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8680d5, #3dab9e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8680d5, #3dab9e);
  /* Standard syntax */
}

.brainy {
  text-align: center;
  background-color: #3dab9e;
}

.brainy.active {
  height: 100%;
  background: -webkit-linear-gradient(#3dab9e, #e4a159);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3dab9e, #e4a159);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3dab9e, #e4a159);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3dab9e, #e4a159);
  /* Standard syntax */
}

.crafty {
  text-align: center;
  background-color: #e4a159;
}

.crafty.active {
  height: 100%;
  background: -webkit-linear-gradient(#e4a159, #5ca0d3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e4a159, #5ca0d3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e4a159, #5ca0d3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e4a159, #5ca0d3);
  /* Standard syntax */
}

.gutsy {
  text-align: center;
  background-color: #5ca0d3;
}

.gutsy.active {
  height: 100%;
  background: -webkit-linear-gradient(#5ca0d3, #e7e72f);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5ca0d3, #e7e72f);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5ca0d3, #e7e72f);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5ca0d3, #e7e72f);
  /* Standard syntax */
}

.worldly {
  text-align: center;
  background-color: #e7e72f;
}

.worldly.active {
  height: 100%;
  background: -webkit-linear-gradient(#e7e72f, #74d530);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e7e72f, #74d530);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e7e72f, #74d530);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e7e72f, #74d530);
  /* Standard syntax */
}

.charitable {
  text-align: center;
  background-color: #74d530;
}

.charitable.active {
  height: 100%;
  background: -webkit-linear-gradient(#74d530, #f29e03);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#74d530, #f29e03);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#74d530, #f29e03);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#74d530, #f29e03);
  /* Standard syntax */
}

.mobile-soon {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ffdf00;
}
.mobile-soon p {
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  margin-left: 20%;
  margin-top: 60%;
  transition: all 200ms ease;
}

@media only screen and (max-width: 1050px) {
  .parentselect.active .subject-on .activity {
    padding-left: 0%;
  }
}
/* End 1050px */
@media only screen and (max-width: 650px) {
  nav {
    display: none;
  }

  .secondary-nav {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  .mobile-soon {
    display: block;
  }
  .mobile-soon p {
    margin-left: 10%;
    margin-top: 50%;
  }
}
/*@media only screen and (max-width: 800px) {
    nav {
        position: fixed;
        height: 71px;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: yellow;
        border-bottom: 2px dashed black;


            .path {
                display: none !important;
            }

        a.fixed-nav {
                display: inline-block;
                text-align: center;
                padding-top: 25px;
                font-size: 1.5rem;
                width: 100%;
                color: #000;
                text-decoration: none;
            }
    }

    .secondary-nav {
        display: none !important;
    }
    
    .table-of-contents {
        margin-top: 71px;
    }

.parentselect.active {
        .subject-on {
            display: block;
            float: left;
            padding-left: 0%;
        }

        .info-on {
            display: inline-block;
            width: 35%;
            margin-top: 40px;
            padding-right: 7%;
            padding-left: 0%;
            vertical-align: top;
        }
}


} End 800px */

/*# sourceMappingURL=screen.css.map */
