html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* GENERAL */
html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  line-height: 21px;
  background-color: #ffdf00;
}

html, body {
  min-height: 100%;
  height: 100%;
}

a {
  color: #fff;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.1em;
}

nav a {
  float: left;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
  width: 200px;
  border: 2px dotted black;
  border-radius: 50%;
  padding: 30px;
  text-align: center;
  -webkit-transform: rotate(-25deg);
  font-weight: 400;
  color: #000;
  text-decoration: none;
  z-index: 10;
}
nav a:hover {
  border: 2px solid black;
}

h2 {
  font-size: 1.5rem;
  margin: auto;
  text-transform: uppercase;
  font-weight: 400;
}

/* SPECIFIC */
.container {
  height: 100%;
  display: flex;
  margin: 0;
}

.intro-header {
  width: 100%;
  height: 100%;
}
.intro-header a {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-decoration: none;
  border: 4px solid black;
  border-radius: 50%;
  padding: 125px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 15%;
  display: block;
}
.intro-header a:hover {
  border: 4px dashed black;
}

.table-of-contents {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  position: relative;
}
.table-of-contents > section {
  flex: 0 1 100%;
  display: flex;
  padding: 25px;
}

.content {
  display: none;
}

.active-sporty {
  height: 100%;
  background: -webkit-linear-gradient(#f29e03, #27b059);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f29e03, #27b059);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f29e03, #27b059);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f29e03, #27b059);
  /* Standard syntax */
}
.active-sporty .content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.active-sporty .content li {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.75rem;
}
.active-sporty h2 {
  display: none;
}
.active-sporty h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px;
}
.active-sporty .subject {
  display: inline-block;
}
.active-sporty .subject h3 {
  padding-bottom: 25px;
}
.active-sporty .subject-on {
  display: inline-block;
  margin-left: 33%;
}
.active-sporty .subject-on h3 {
  padding-bottom: 25px;
}
.active-sporty .info {
  display: none;
}
.active-sporty .info-on {
  display: inline-block;
  width: 30%;
  padding-left: 75px;
  margin-right: 25px;
  margin-top: 70px;
  vertical-align: top;
}
.active-sporty .info-on p {
  text-align: left;
  margin-top: 15px;
}
.active-sporty .info-on h4 {
  font-size: 1rem;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 5px;
}
.active-sporty .info-on li {
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
}
.active-sporty .info-on a {
  text-decoration: underline;
  text-align: left;
  color: #000;
}
.active-sporty .info-on a:hover {
  color: #fff;
}

.sporty {
  text-align: center;
  background-color: #f29e03;
}

.active-outdoorsy {
  height: 100%;
  background: -webkit-linear-gradient(#f29e03, #27b059);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f29e03, #27b059);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f29e03, #27b059);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f29e03, #27b059);
  /* Standard syntax */
}
.active-outdoorsy .content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
.active-outdoorsy .content li {
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.75rem;
}
.active-outdoorsy h2 {
  display: none;
}
.active-outdoorsy h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px;
}
.active-outdoorsy .subject {
  display: inline-block;
}
.active-outdoorsy .subject h3 {
  padding-bottom: 25px;
}
.active-outdoorsy .subject-on {
  display: inline-block;
  margin-left: 33%;
}
.active-outdoorsy .subject-on h3 {
  padding-bottom: 25px;
}
.active-outdoorsy .info {
  display: none;
}
.active-outdoorsy .info-on {
  display: inline-block;
  width: 30%;
  padding-left: 75px;
  margin-right: 25px;
  margin-top: 70px;
  vertical-align: top;
}
.active-outdoorsy .info-on p {
  text-align: left;
  margin-top: 15px;
}
.active-outdoorsy .info-on h4 {
  font-size: 1rem;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 5px;
}
.active-outdoorsy .info-on li {
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
}
.active-outdoorsy .info-on li:hover {
  color: #fff;
}
.active-outdoorsy .info-on a {
  text-decoration: underline;
  text-align: left;
  color: #000;
}
.active-outdoorsy .info-on a:hover {
  color: #fff;
}

.outdoorsy {
  text-align: center;
  background-color: #27b059;
}

.culinary {
  text-align: center;
  background-color: #33b7e4;
}

.creative {
  text-align: center;
  background-color: #de5e86;
}

.social {
  text-align: center;
  background-color: #8680d5;
}

.brainy {
  text-align: center;
  background-color: #3dab9e;
}

.crafty {
  text-align: center;
  background-color: #e4a159;
}

.gutsy {
  text-align: center;
  background-color: #5ca0d3;
}

.worldly {
  text-align: center;
  background-color: #e7e72f;
}

.charitable {
  text-align: center;
  background-color: #74d530;
}

/*# sourceMappingURL=screen.css.map */
