@import "reset";
@import "library";

/* GENERAL */

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    line-height: 21px;
    background-color: rgb(255, 223,0);
}

html, body {
    min-height: 100%;
    height: 100%;
}

a {
    color: #fff;
}


p {
    margin-bottom: 1.1em;
}

/* SPECIFIC */
.container {
    display: flex;
    margin: 0;
    background-color: rgb(255, 223,0);
}

.intro-header{
    width: 100%;
    height: 100%;

    a {
        color: #000;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.5rem;
        text-decoration: none;
        border: 4px solid black;
        border-radius: 50%;
        padding: 125px;
        text-align: center;
        width: 40%;
        margin-left: 30%;
        margin-top: 15%;
        display: block;
    }

        a:hover {
            border: 4px dashed black;
        }
}

.table-of-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    > section {
        flex: 1 1 auto;
        display: flex;
    }
}

nav {
        a {
            float: left;
            font-size: 1.5rem;
            line-height: 2rem;
            position: absolute;
            margin-top: 5%;
            margin-left: 5%;
            width: 200px;
            border: 2px dotted black;
            border-radius: 50%;
            padding: 30px;
            text-align: center;
            -webkit-transform: rotate(-25deg);
            font-weight: 400;
            color: #000;
            text-decoration: none;
            z-index: 10;
        }

            a:hover {
                border: 2px solid black;
            }

}

h2 {
    font-size: 1.5rem;
    margin: auto;
    text-transform: uppercase;
    font-weight: 400;
}

.default {
    position: relative;
    display: none;
}

.active {
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;

    h2 {
        display: none;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 25px;
    }
}

.sporty {
    display: inline-block;
    background-color: rgb(242, 158, 3);

        li {
            font-weight: 400;
            font-size: 1.25rem;
            text-align: center;
            line-height: 2rem;
        }

        .active {
            h2 {
                display:none;
            }
        }
}


.content {
    display: inline-block;
    text-align: center;
    position: relative;
}

.subject {
    display: inline-block;
    margin-left: 40%;

    h3 {
        padding-bottom: 25px;
    }
}

.info {
    display: inline-block;
    width: 49%;
    margin-right: 50px;

        h3 {
            font-size: 1.25rem;
            font-weight: 400;
            text-align: left;
            margin-top: 100px;
            margin-left: 0;
            text-transform: none;

        }

        p {
            text-align: left;
        }
}

.outdoorsy {
    text-align: center;
    background-color: rgb(39, 176, 89);
}

.culinary {
    text-align: center;
    background-color: rgb(51, 183, 228);
}

.creative {
    text-align: center;
    background-color: rgb(222, 94, 134);
}


.social {
    text-align: center;
    background-color: rgb(134, 128, 213);
}

.brainy {
    text-align: center;
    background-color: rgb(61, 171, 158);
}

.crafty {
    text-align: center;
    background-color: rgb(228, 161, 89);
}

.gutsy {
    text-align: center;
    background-color: rgb(92, 160, 211);
}

.worldly {
    text-align: center;
    background-color: rgb(231, 231, 47);
}

.charitable {
    text-align: center;
    background-color: rgb(116, 213, 48);
}
