@import "reset";
@import "library";

/* GENERAL */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    line-height: 21px;
    background-color: rgb(255, 223,0);
}

html, body {
    min-height: 100%;
    height: 100%;
}

a {
    color: #fff;
}


p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.1em;
}

nav {
    position: absolute;
    z-index: 5;
    height: auto;
    -webkit-transition: height 0.2s ease-out 0s;
    -moz-transition: height 0.2s ease-out 0s;
    -o-transition: height 0.2s ease-out 0s;
    transition: height 0.2s ease-out 0s;

    .path {
        margin: 40px;

        a {
            font-size: 1.5rem;
            text-align: center;
            font-weight: 400;
            text-decoration: none;
            z-index: 16;
        }

    }

    .fixed-nav {
        display: none;
    }
}

h2 {
    font-size: 1.5rem;
    margin: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.path {
    z-index: -1;
}

.path:hover {
  stroke-dasharray: 20;
  -webkit-animation: dash 7s linear;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.secondary-nav {
    display: none;
    position: fixed;
    width: 100px;
    float: left;
    line-height: 2rem;
    font-weight: 300;
    margin-left: 75px;
    padding-top: 125px;
    z-index: 20;
    text-align: left;
    transition: font-size 0.5s ease;

        a {
            text-decoration: none;
            padding: 10px;
            color: rgba(#fff, 0.5);

        }

        a:hover {
            color: #fff;
            text-align: left;
            font-size: 1.5rem;
        }
}


/* SPECIFIC */
.container {
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    float: left;
    left: 0;
}

.intro-header{
    height: 100%;
    margin-left: 35%;
    margin-top: 13%;

    .path a {
        color: #000;
        letter-spacing: .25px;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
    }
}

.table-of-contents {
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;

    > section {
        flex: 0 1 100%;
        display: flex;
        padding: 25px;
    }

}

.content {
    display: none;
}

.parentselect.active {
    .content {
            width: 100%;
            height: 100%;
            text-align: center;
            display: inline-block;

            li {
                font-weight: 400;
                font-size: 1.25rem;
                text-align: center;
                line-height: 2.75rem;
                display: block;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            a:hover{
                color:#fff;
            }
        }

        h2 {
            display: none;
        }

        .subject h2 {
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: block;
            padding-bottom: 25px;

        }

        .subject {
            display: inline-block;
        }

        .subject-on {
            display: block;
            width: 65%;
            float: left;
            padding-left: 35%;


            h3 {
            padding-bottom: 25px;
            }
        }


        .info {
            display: none;
        }

        .info-on {
            display: inline-block;
            width: 35%;
            margin-top: 45px;
            padding-right: 7%;
            padding-left: 3%;
            vertical-align: top;

                p {
                    text-align: left;
                    margin-top: 10px;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                h4 {
                    font-size: 1.25rem;
                    text-align: left;
                    margin-top: 18px;
                    color: #fff;
                }

                li {
                    font-size: 1rem;
                    text-align: left;
                    line-height: 2rem;
                }

                a {
                    text-decoration: none;
                    text-align: left;
                    color: #fff;
                }

                a:hover {
                    color:#000;
                }
        }
}

.sporty {
    text-align: center;
    background-color: rgb(242, 158, 3);
}

.sporty.active {
    height: 100%;
    background: -webkit-linear-gradient(#f29e03, #27b059); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f29e03, #27b059); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f29e03, #27b059); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f29e03, #27b059); /* Standard syntax */
}

.outdoorsy {
    text-align: center;
    background-color: rgb(39, 176, 89);
}

.outdoorsy.active {
    height: 100%;
    background: -webkit-linear-gradient(#27b059, #33b7e4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#27b059, #33b7e4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#27b059, #33b7e4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#27b059, #33b7e4); /* Standard syntax */
}

.culinary {
    text-align: center;
    background-color: rgb(51, 183, 228);
}

.culinary.active {
    height: 100%;
    background: -webkit-linear-gradient(#33b7e4, #de5e86); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#33b7e4, #de5e86); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#33b7e4, #de5e86); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#33b7e4, #de5e86); /* Standard syntax */
}

.creative {
    text-align: center;
    background-color: rgb(222, 94, 134);
}

.creative.active {
    height: 100%;
    background: -webkit-linear-gradient(#de5e86, #8680d5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#de5e86, #8680d5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#de5e86, #8680d5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#de5e86, #8680d5); /* Standard syntax */
}

.social {
    text-align: center;
    background-color: rgb(134, 128, 213);
}

.social.active {
    height: 100%;
    background: -webkit-linear-gradient(#8680d5, #3dab9e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8680d5, #3dab9e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8680d5, #3dab9e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8680d5, #3dab9e); /* Standard syntax */
}

.brainy {
    text-align: center;
    background-color: rgb(61, 171, 158);
}

.brainy.active {
    height: 100%;
    background: -webkit-linear-gradient(#3dab9e, #e4a159); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3dab9e, #e4a159); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3dab9e, #e4a159); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3dab9e, #e4a159); /* Standard syntax */
}

.crafty {
    text-align: center;
    background-color: rgb(228, 161, 89);
}

.crafty.active {
    height: 100%;
    background: -webkit-linear-gradient(#e4a159, #5ca0d3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e4a159, #5ca0d3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e4a159, #5ca0d3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e4a159, #5ca0d3); /* Standard syntax */
}

.gutsy {
    text-align: center;
    background-color: rgb(92, 160, 211);
}

.gutsy.active {
    height: 100%;
    background: -webkit-linear-gradient(#5ca0d3, #e7e72f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5ca0d3, #e7e72f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5ca0d3, #e7e72f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5ca0d3, #e7e72f); /* Standard syntax */
}

.worldly {
    text-align: center;
    background-color: rgb(231, 231, 47);
}

.worldly.active {
    height: 100%;
    background: -webkit-linear-gradient(#e7e72f, #74d530); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e7e72f, #74d530); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e7e72f, #74d530); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e7e72f, #74d530); /* Standard syntax */
}

.charitable {
    text-align: center;
    background-color: rgb(116, 213, 48);
}

.charitable.active {
    height: 100%;
    background: -webkit-linear-gradient(#74d530, #f29e03); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#74d530, #f29e03); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#74d530, #f29e03); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#74d530, #f29e03); /* Standard syntax */
}

//MEDIA QUERIES//
@media only screen and (max-width: 1050px) {
    .parentselect.active .subject-on {

            .activity {
                padding-left: 0%;
            }
    }
} /* End 1050px */

@media only screen and (max-width: 800px) {
    nav {
        position: fixed;
        height: 71px;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        background-color: yellow;
        border-bottom: 2px dashed black;


            .path {
                display: none !important;
            }

        a.fixed-nav {
                display: inline-block;
                text-align: center;
                padding-top: 25px;
                font-size: 1.5rem;
                width: 100%;
                color: #000;
                text-decoration: none;
            }
    }

    .secondary-nav {
        display: none !important;
    }
    
    .table-of-contents {
        margin-top: 71px;
    }

.parentselect.active {
        .subject-on {
            display: block;
            float: left;
            padding-left: 0%;
        }

        .info-on {
            display: inline-block;
            width: 35%;
            margin-top: 40px;
            padding-right: 7%;
            padding-left: 0%;
            vertical-align: top;
        }
}


} /* End 800px */
